
body { /*  body de todo el html  */
 height: 1200px;
    font-family: 'Times New Roman', Times, serif;
}

body header div img{ /* la imagen de batman  */
    display: block;
    margin: auto;    
}

body  header div {  /* encabezado donde esta la imagen de batman  */
    background-color: #E6E6E6;
}
 body main .BarraSeparadoraBlanca { /* Barra blanca sin contenido debajo del titulo Curriculum Vitae */
    display: block;
    margin: auto;
    background-color: #ffffff;
    height: 150px;  
}
body main div { /* todos los bloques con fondo blanco en el main */
   
    background-color: #ffffff;

   
}

body main h1 {/* Titulo Curriculum vitae */
    color:#005677 ;
    display: block;
    margin: auto;
    text-align: center;
    background-color: #C4C4C4;
}



body main h2 { /* todos los titulos chicos en barra gris del main */
    display: block;
    margin: auto;
    background-color: #C4C4C4;
    height: 30px;
    color:#005677 ;    
}


body main div.contenidoFondoBlanco p span  { /* Contenido dentro de cada seccion */
    color:#080808 ;
    font-weight:bold
 }


.footer {

  }

body footer nav{

    background-color: #005677;
    text-align: center; /* Pone el NAV en el centro de la pagina*/
    top: 1800px;

}


body footer nav ul{
    height: 32px;   
    width: 222px;
    font-size: 23px;

    color:#ffffff ; 
    margin: auto;
    display: inline-flex; 
    justify-content: space-between;/*saca los bullets a la lista */
    list-style: none;
    align-items: center;  /* Pone los 3 items de la lista en una sola linea  */
    line-height: 16px;/*achico la altura de la linea para que se centren los 3 items en la linea */

    
  }

  body footer nav ul li p {

    margin-right: 8px;
  }
